header, footer {
  display: none;
}

.editor, .sidebar, .output, .inspect-values, .CodeMirror {
  font-family: Monaco, Menlo, Consolas, 'Courier New', monospace;
  font-size: 22px;
  line-height: 1.46em;
}

.container {
  width: 98%;
}
