<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>reveal.js</title>

    <link rel="stylesheet" href="resources/reveal.js-3.3.0/css/reveal.css">
    <link rel="stylesheet" href="resources/reveal.js-3.3.0/css/theme/black.css">

    <!-- Theme used for syntax highlighting of code -->
    <link rel="stylesheet" href="resources/reveal.js-3.3.0/lib/css/zenburn.css">

    <!-- Printing and PDF exports -->
    <script>
      var link = document.createElement( 'link' );
      link.rel = 'stylesheet';
      link.type = 'text/css';
      link.href = window.location.search.match( /print-pdf/gi ) ? 'resources/reveal.js-3.3.0/css/print/pdf.css' : 'resources/reveal.js-3.3.0/css/print/paper.css';
      document.getElementsByTagName( 'head' )[0].appendChild( link );
    </script>
  </head>
  <body>
    <div class="reveal">
      <div class="slides">
        <% slides.each do |slide| %>
          <%= slide %>
        <% end %>
      </div>
    </div>

    <script src="resources/reveal.js-3.3.0/lib/js/head.min.js"></script>
    <script src="resources/reveal.js-3.3.0/js/reveal.js"></script>

    <script>
      // More info https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({
        history: true,
        margin: 0.1,
        // showNotes: true,
        // More info https://github.com/hakimel/reveal.js#dependencies
        dependencies: [
          { src: 'resources/reveal.js-3.3.0/plugin/markdown/marked.js' },
          { src: 'resources/reveal.js-3.3.0/plugin/markdown/markdown.js' },
          { src: 'resources/reveal.js-3.3.0/plugin/notes/notes.js', async: true },
          { src: 'resources/reveal.js-3.3.0/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } }
        ]
      });
    </script>
  </body>
</html>
